html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  color: #eee;
}
a {
  color: rgb(156, 156, 247);
}
a:visited {
  color: rgb(192, 95, 230);
}
#main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  overflow: hidden;
}
body.site-index {
  margin: 1rem;
}
body.site-index header {
  text-align: center;
}
ul.sketches {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
ul.sketches li {
  border: 1px solid #888;
  position: relative;
  width: calc(100% - 2rem);
  padding: 1em 1em 2em 1em;
  margin: 0.75rem 0.25rem;
}
ul.sketches li .image {
  display: block;
  text-align: center;
  padding: 0.5rem;
}
ul.sketches li .image img {
  width: 80%;
}
ul.sketches li section.title-description {
  position: absolute;
  padding: 1rem;
  bottom: 2.5rem;
  background: rgba(0, 0, 0, 0.75);
}
ul.sketches li .title {
  display: block;
  padding-bottom: 0.5rem;
}
ul.sketches li .description {
  margin: 1rem;
}
ul.sketches li .source {
  position: absolute;
  left: 2rem;
  bottom: 1.5rem;
}
ul.sketches li time {
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
}
@media (min-width: 769px) {
  ul.sketches li {
    width: calc(45% - 0.5rem);
  }
}
@media (min-width: 900px) {
  ul.sketches li {
    width: calc(30% - 1rem);
  }
  #info-box .box {
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  ul.sketches li {
    width: calc(22% - 1rem);
  }
  #info-box .box {
    max-width: 75%;
  }
}
