<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lmorchard sketches-v02</title>
  </head>
  <body>
    <ul>
      <% for (const {filename, metadata: { href, title, image, description, date }} of sketches) { %>
        <li>
          <p>
            <%= date.toISOString() %>:
            <a href="<%= href %>/index.html"><%= title %></a>  
          </p>
          <p><%= description %></p>
          <img src="<%= image %>" width="200" />
        </li>
      <% } %>
    </ul>
    <script type="module" src="./index.js"></script>
  </body>
</html>
